
$colors: (
	pink: #E1D6CE,
	dark-grey: #383838,
	body-font: #666
);

$fonts: (
	montserrat: ('Montserrat', sans-serif),
	body: ('Open Sans', sans-serif),
	raleway: ('Raleway', sans-serif),
	karla: ('Karla', sans-serif)
);