<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="James Resume">
    <meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no"/>
	<meta name="version" content="<%= htmlWebpackPlugin.options.version %>">
	
	<link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="application-name" content="James Resume">
    <meta name="color-scheme" content="dark light">

	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/assets/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/assets/img/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#373838">
	<meta name="theme-color" content="#373838">

	<title>Jimmythecoder | UX Creative via Hypermedia</title>

	<link href="https://fonts.googleapis.com/css?family=Karla|Montserrat|Open+Sans+Condensed:300|Open+Sans:300|Raleway|Raleway+Dots" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/app.css">
	
</head>
<body>

	<div class="grid-container">
<div class="container">
	<nav>
		<div class="profile-photo">
			<img src="/assets/img/profile-photo.png" class="img-responsive" alt="Profile photo">
		</div>

		<section class="contact">
			<h3>Contact Me</h3>

			<img src="/assets/svg/vcard.svg" alt="QR Contact Card" title="Scan QR for vCard">

		</section>

		<section class="network">
			<h3>Network</h3>

			<p><a href="https://github.com/jimmythecoder">Github</a></p>
			<p><a href="https://www.linkedin.com/mwlite/in/jimmyy">LinkedIn</a></p>
			<p><a href="https://dev.to/jimmythecoder">DEV</a></p>
			<p><a href="https://twitter.com/jamesthegeek">Twitter</a></p>
		</section>

		<section class="education">
			<h3>Education</h3>

			<p>
				<strong>Bachelor&rsquo;s Degree (Comp. SC)</strong><br />
				Unitec University, NZ<br />
				2001-2004 
			</p>

			<p>
				<strong>TESoL, Teaching English</strong><br />
				AIS University, NZ<br />
				2013
			</p>

			<p>
				<strong>National Cert in Electronics</strong><br />
				Rodney College, NZ<br />
				2000 
			</p>
		</section>

		<section class="interests">
			<h3>Interests</h3>

			<p>Engineering</p>
			<p>Climbing</p>
			<p>Golf, Motorsports</p>
			<p>Outdoor pursuits</p>
			<p>Travelling, motorcycling</p>
		</section>

		<section class="achievements">
			<h3>Achievements</h3>

			<p>Learned Russian in St Petersburg</p>

			<p>Travelled the world in over 45 countries</p>

			<p>Flew a plane solo at age 16</p>

			<p>Hockey captain, RC car champion</p>

			<p>Motorcycle tours, NZ &amp; abroad</p>

			<p>Created NZ web hosting Simplehost</p>
		</section>

		<section class="qualities">
			<h3>Qualities</h3>

			<p>Clear communication</p>
			<p>People skills</p>
			<p>Team player</p>
			<p>Leadership skills</p>
			<p>Positive attitude</p>
			<p>Strong motivator</p>
		</section>

		<section class="references">
			<h3>References</h3>
			<p>Available on request</p>
			<p>Professional</p>
			<p>Personal</p>
		</section>
	</nav>

	<main>
		<header>
            <video id="video-bg" muted autoplay loop playsinline>
                <source src="/assets/video/water.mp4" type="video/mp4">
            </video>
            <div class="head-container">
                <img src="/assets/svg/logo.svg" alt="JH" width="100">

                <h1>
                    <span>James</span>
                    <span>Harris</span>
                </h1>
                <hr class="thin">
                <h2>Web Architect UX</h2>
            </div>
		</header>

		<h3>MY STORY</h3>

		<p class="text-justify">
			Hi, I am a senior Front-End developer with 20+ years experience. 
			That's a lot, but what I really bring is enthusiasm and a passion for making things great. Guiding individuals and businesses to creating their next digital properties.
			Today the game has changed, the web is where people expect to do their work, game, socialize and relax on any device. Technology is constantly evolving to meet these needs, and it's more important than ever 
			that we embrace and employ it in a secure, accessible and performant manner. I am a kiwi with diverse travel and work experience locally and abroad bringing global ideas home.</p>

		<div class="divider">
			<hr class="line" />
			<span class="diamond"></span>
		</div>

		<h4>EXPERIENCE</h4>

		<section class="role">
			<h4>TEAM LEAD / UI ARCHITECT</h4>
			<p class="italic text-center">Morningstar / Sydney, AU / July 2016 – Present</p>

			<p class="text-justify">Morningstar is a world leading investment research company based in over 27 countries. Key architect in creating the next generation sites and platforms for Morningstar Australia. 
				Helping both retail investors and financial advisors gain access to world class research capabilities of Morningstar.
			</p>

			<ul class="highlights">
				<li>Leading an agile development team and mentoring developers</li>
				<li>Creating a modern web experience for current devices</li>
				<li>Shared component library across sites using Lerna and Yarn workspaces</li>
				<li>Infrastructure as code using CDK with TypeScript</li>
				<li>Continuous integration and delivery</li>
				<li>Auth0 authentication with JWT</li>
				<li>Headless content management</li>
				<li>Micro services using lambda (AWS platform)</li>
				<li>GraphQL services</li>
				<li>Front-End lead, with full autonomy</li>
				<li>SPA, SSR, TypeScript, Vue, Nuxt, component based, responsive &amp; adaptive, lazy loaded bundles with HTTP/2 support and complete build stack</li>
			</ul>
		</section>

		<section class="role">
			<h4>LEAD UI DEVELOPER</h4>
			<p class="italic text-center">Westpac / Sydney, AU / July 2014 – June 2016</p>

			<p class="text-justify">At the Westpac banking group my primary responsibilities have been to develop the new corporate online banking solution, to develop the online forms and acquisition projects, and to give developer coaching in modern UI development.</p>

			<ul class="highlights">
				<li>Responsive mobile web development (AngularJS, Bootstrap).</li>
				<li>Corporate online mobile banking platform.</li>
				<li>REST&rsquo;ful UI architecture JSON API implementation</li>
				<li>Performance optimization and security hardening</li>
				<li>Engaged with high profile stake holders during Agile iterations.</li>
			</ul>
		</section>

		<section class="role">
			<h4>TECHNICAL ARCHITECT</h4>
			<p class="italic text-center">Oracle / London, UK | Sydney, AU / 2010 – 2012 &amp; 2014</p>

			<p class="text-justify">I started in the Oracle Corporation in the UK as a full stack developer; I travelled and returned as a technical architect on contract in Sydney. I grew as a developer and as a person in a new world. I worked as part of the RightNow CX team building a customer experience platform to engage and help customers on some of the world’s largest websites and agencies. Today, they compete with the likes of Salesforce.</p>

			<ul class="highlights">
				<li>Full stack development (PHP, MySQL, HTML, CSS, SOAP, Ajax)</li>
				<li>Enterprise CRM customization, design and implementation</li>
				<li>Large corporate clientele such as Epson, IDP, Optus, Barclays Bank</li>
				<li>Front end development, responsive design implementations</li>
			</ul>
		</section>

		<section class="role">
			<h4>WEB DEVELOPER / MOBILE SPECIALIST</h4>
			<p class="italic text-center">Modica Group / Auckland, NZ / 2007 – 2010</p>

			<p class="text-justify">At the Modica group, formally Sonic Mobile I developed online mobile interactive SMS messaging platform applications. We ran an Omniture interface, which allowed businesses to engage their customers via SMS. From real time SMS display on the web to marketing competitions, our platform pushed SMS to a new level.</p>

			<ul class="highlights">
				<li>Application developer and infrastructure design</li>
				<li>Built low level SMS technologies and Telco integrations</li>
				<li>International connectivity and routing algorithms</li>
				<li>MMS applications and content delivery services</li>
			</ul>
		</section>

		<section class="role">
			<h4>WEB APPLICATION DEVELOPER</h4>
			<p class="italic text-center">NetConcepts / Auckland, NZ / 2006 – 2007</p>

			<p class="text-justify">NetConcepts quickly became New Zealand’s leading ecommerce Solutions Company. Primarily delivering large shopping sites to the US market, we built highly complex full-featured ecommerce solutions. From multiple payment integrations, to real time shipping updates, content management systems and inventory control. Our niche specialization was in Search Engine Optimization (SEO).</p>

			<ul class="highlights">
				<li>Ecommerce solution design and implementation</li>
				<li>Object orientated architecture and patterns</li>
				<li>Implemented modern SVN structure and usage patterns</li>
				<li>Optimized server side technologies for performance</li>
				<li>Utilized modern libraries, such as jQuery</li>
			</ul>
		</section>

		<section class="role">
			<h4>WEB APPLICATION DEVELOPER</h4>
			<p class="italic text-center">NSP / Auckland, NZ / 2005 – 2006</p>

			<p class="text-justify">Network service providers (NSP) is an infrastructure design company which required frontend tools primarily for traffic management and bespoke client applications. Our niche product was commercial property wireless and time based WIFI hotspot implementations.</p>

			<ul class="highlights">
				<li>Core network solution development, bandwidth monitoring, throttling</li>
				<li>Credit card merchant integrations</li>
				<li>Uplink hotel WIFI implementations</li>
				<li>Website internationalization, multi lingual site architecture</li>
				<li>Security and application hardening</li>
			</ul>
		</section>

		<section class="role">
			<h4>WEB APPLICATION DEVELOPER</h4>
			<p class="italic text-center">eGo Online / Auckland, NZ / Jan 2005</p>

			<p class="text-justify">I developed content management solutions and basic ecommerce websites for a startup company. At the time we had modern CMS management tools using heavy JavaScript and built our own HTML editors for customers to maintain their sites. Our primary customers were small to medium local businesses.</p>

			<ul class="highlights">
				<li>JavaScript, CSS, HTML coding and templates</li>
				<li>Modern HTML CMS administration development VCS tools, IDE&rsquo;s</li>
			</ul>
		</section>

		<section class="role">
			<h4>APPLICATION / SOLUTIONS ARCHITECT</h4>
			<p class="italic text-center">Contracts &amp; Simplehost NZ / 2005+</p>

			<p class="text-justify">In 2005, my business partner and myself started our own web hosting company. Over the past 10 years we have created not only a strong brand for Simplehost, but developed cutting edge infrastructure designs and web hosting solutions. The company is now completely autonomous with integrations into every system from payments to bankroll and custom secure server API management. The system is controlled via an online admin management console. It is now the largest Ruby on Rails hosting provider in the country, and run high performance VPS servers.</p>
				
			<p class="text-justify">In addition, I have undertaken many contracts in my career keeping my skills honed and up to date. I have worked on many varied projects from administration panels, branding and marketing websites, ecommerce systems including my own eFusion eCart system using a custom built MVC framework and ORM database design.</p>

			<ul class="highlights">
				<li>Simplehost VPS and Web hosting NZ / simplehost.co.nz</li>
				<li>YesNZ Automotive, Brandpartners NZ, eFusion NZ</li>
			</ul>
		</section>

		<div class="divider">
			<hr class="line" />
			<span class="diamond"></span>
		</div>

		<section class="skills">
			<h3>CORE TECH STACK</h3>

            <!-- <div class="skills-sections">
                <ul class="gradient primary">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                </ul>
                <ul class="gradient secondary">
                    <li>Accessibility</li>
                    <li>SEO</li>
                    <li>InfoSec</li>
                    <li>i8ln</li>
                </ul>
            </div> -->

			<div class="chart-container">
				<svg version="1.1" id="wp-chart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 650 650" class="skills-chart">
				</svg>
			</div>
			
		</section>

		<div class="divider">
			<hr class="line" />
			<span class="diamond"></span>
		</div>
	</main>

</div>
</div>

<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "fbw6gc8whm");
</script>

<!-- Google tag (gtag.js) --> 
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3T1YEVGJ5M"></script>
<script>
    window.dataLayer = window.dataLayer || []; 

    function gtag() {
        dataLayer.push(arguments);
    } 
    
    gtag('js', new Date()); 
    gtag('config', 'G-3T1YEVGJ5M'); 
</script>

</body>
</html>