:root {
	--screen-xs: 576px;
	--screen-md: 1200px;
	--screen-lg: 1440px;

	--colors-pink: #E1D6CE;
	--colors-dark-grey: #333;
	--colors-light-grey: #666;
	--colors-body-font: #333;

	--fonts-montserrat: 'Montserrat';
	--fonts-body: 'Open Sans';
	--fonts-condensed: 'Open Sans Condensed';
	--fonts-raleway: 'Raleway';
	--fonts-karla: 'Karla';
}