$screen: (
	xs-min: 30em,
  	sm-min: 48em,
  	md-min: 64em,
  	lg-min: 75em
);

$colors: (
	pink: #E1D6CE,
	dark-grey: #333,
	light-grey: #666,
	body-font: #333
);

$fonts: (
	montserrat: ('Montserrat', sans-serif),
	body: ('Open Sans', sans-serif),
	condensed: ('Open Sans Condensed', sans-serif),
	raleway: ('Raleway', sans-serif),
	karla: ('Karla', sans-serif)
);