@import 'config';

html, body {
	font-family: map-get($fonts, body);
	background-image: url('/src/img/body-background.png');
	color: map-get($colors, body-font);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.img-responsive {
	max-width: 100%;
}

.container {
	background-color: white;
}

.italic {
	font-style: italic;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

h1 {
	margin: 0.5em 0 0 0;
	color: white;
	font-family: map-get($fonts, raleway);
	font-size: 2.5em;
	letter-spacing: 1em;
	font-weight: 300;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
	line-height: 1.5em;
}

h2 {
	font-family: map-get($fonts, raleway);
	color: map-get($colors, pink);
	font-size: 1em;
	letter-spacing: 1em;
	text-transform: uppercase;
	font-weight: 300;
}

h3 {
	font-family: map-get($fonts, raleway);
	color: map-get($colors, pink);
	text-transform: uppercase;
	background-color: map-get($colors, dark-grey);
	font-size: 0.8em;
	text-align: center;
	font-weight: 700;
	margin: 2em 0 1em 0;
	padding: 0.6em 0;
	letter-spacing: 0.4em; 
	border-radius: 2px;
}

h4 {
	font-family: map-get($fonts, raleway);
	color: map-get($colors, dark-grey);
	text-transform: uppercase;
	text-align: center;
	margin: 1em 0 0 0;
	letter-spacing: 0.4em;
	font-size: 0.9em;
}

nav {
	background-color: map-get($colors, pink);
	margin-left: 2em;
	padding: 0 1em;
	height: 100%;

	.profile-photo {
		margin-top: 5em;
	}

	h2 {

	}

	address {
		font-style: normal;
		font-family: map-get($fonts, body);
		color: map-get($colors, dark-grey);
		font-size: 0.8em;

		strong {
			font-family: map-get($fonts, body);
			color: black;
		}

		a {
			text-decoration: none;
			color: black;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	#SkypeButton {
		display: inline-block;

		p, img {
			margin: 1px !important;
			padding: 0;
		}
	}

	ul.expertise {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			font-family: map-get($fonts, raleway);
			color: map-get($colors, dark-grey);
			text-transform: uppercase;
			text-align: center;
			margin: 2em 0 0 0;
			letter-spacing: 0.4em;
			font-size: 0.8em;
		}
	}

	section {
		p {
			font-size: 0.8em;
		}
	}

	section.knowledge {

		p {
			margin-bottom: 2em;
		}

		h4 {
			margin-bottom: 1.0em;
		}

		.range {		
			margin-top: 10px;		
			background-color: map-get($colors, light-grey);
			width: 100%;
			height: 1px;
			position: relative;

			.line {
				position: absolute;
				top: -10px;
				left: 0;
				display: inline-block;
				height: 20px;
				width: 2px;
				background-color: map-get($colors, dark-grey);
			}
		}
	}

	section.achievements {
		text-align: center;
	}

	section.qualities {
		text-align: center;
	}

	section.references {
		text-align: center;
	}

}

main {
	margin-right: 2em;
	margin-left: 1em;

	hr.thin {
		width: 100px;
		border-color: map-get($colors, pink);
	}

	p {
		font-family: map-get($fonts, body);
		font-size: 0.9em;
	}

	ul.highlights {

		padding-left: 5em;

		li {
			font-size: 0.9em;
		}
	}

	.divider {
		text-align: center;
		margin: 3em 25% 1em;

		hr {
			background: none;
			border: none;
			border-bottom: 1px solid mix(map-get($colors, dark-grey), white, 50%);
			height: 1px;
			margin: 0;
			padding: 0;
		}

		.diamond {
			position: relative;
			display: inline-block;
			top: -0.8em;
			width: 1.5em;
			height: 1.5em;
			border: 1px solid mix(map-get($colors, dark-grey), white, 50%);
			transform: rotate(45deg);
			background-color: white;
			border-radius:2px;
		}
	}

	.role {

	}
}

header {
	padding: 1em;
	text-align: center;
	background-color: map-get($colors, dark-grey);
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}